@charset "utf-8";

@font-face {
  font-family: 'DelaGothic';
  src: url('../fonts/DelaGothicOne-Regular.ttf') format('truetype');
}
section {
  height:auto;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}
html, body {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
section {
  opacity: 0;
  transition: opacity 0.8s ease-out;
}

section.visible {
  opacity: 1;
}


body.no-scroll {
  overflow: hidden;
  height: 100vh;
}

#introSection {
  height: 100vh; 
  position: relative; 
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#revealCanvas {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: transparent;
  z-index: 0;
  transition: opacity 1s ease-out;
}

#mainTitle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

.intro-word {
  font-family: 'DelaGothic';
  font-size: 180px;
  color: rgb(0, 0, 0);
  opacity: 0;
  position: absolute;
  transition: opacity 1s ease, transform 1s ease;
}

.word-cocoon {
  top: 0;
  left: 50px;
  transform: translateY(-20px);
}

.word-tower {
  bottom: 0;
  right: 50px;
  transform: translateY(20px);
}

.intro-word.show {
  opacity: 1;
  transform: translateY(0);
}

 #scrollHint {
  position: absolute;
  bottom: 7%;
  left: 33.5%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  display: flex;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

#scrollHint.show {
  opacity: 1;
  pointer-events: auto;
  animation: blinkHint 1.4s ease-in-out infinite;
}

@keyframes blinkHint {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
} 

body.scroll-cursor {
  cursor: url('../images/scroll-cursor.svg') 40 40, auto; 
}

.hidden-section {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.hidden-section.visible {
  opacity: 1;
  transform: translateY(0);
}

.full-bg {
   background-image: url('../images/about-bg.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%; 
}

#aboutSection {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  padding: 5px 0;
  max-width: 100%;
  margin: 0;
  color: rgb(0, 0, 0);
  font-family: 'DelaGothic', sans-serif;
}
.content-wrapper {
  max-width: 90%;
  margin: 0 auto;
}

#aboutSection.visible {
  opacity: 1;
  transform: translateY(0);
}

#aboutSection p {
    font-size: 80px;
    text-shadow: 2px 2px 0 rgb(255, 255, 255);
}

.bg-color {
  background-color: black;
  padding: 100px 20px;  
  display: flex;
  justify-content: center; 
}

#stackedInfoSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 40px;
  max-width: 1000px;
  width: 90%;
  
  min-height: 600px; 
  align-content: center; 
}

.info-block {
  background-color: #ffffff; 
  font-family: 'DelaGothic', sans-serif;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-size: cover;    
  background-repeat: no-repeat; 
  background-position: center;
}

.info-block h3 {
  font-size: 36px;
  margin-bottom: 5px;
}

.info-block p {
  font-size: 20px;
  color: black;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.877);
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: justify;
  -webkit-text-stroke: 0.05px white;  
  color: transparent;             
  -webkit-text-fill-color: black;
}

@media screen and (max-width: 600px) {
  #stackedInfoSection {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    min-height: auto;
  }
}

.bg-1 {
  background-image: url('../images/1.jpg');
}
.bg-2 {
  background-image: url('../images/3.jpg');
}
.bg-3 {
  background-image: url('../images/2.jpg');
}
.bg-4 {
  background-image: url('../images/4.jpg');
}

#photoSlideshow {
  scroll-snap-align: center;
  background-color: white;
  background-image: url('../images/pattern.png'); 
  background-repeat: repeat;
  background-size: auto; 
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 105px 0;
  gap: 40px; 
}

.slideshow-container {
  position: relative;
  width: 80%;
  max-width: 800px;
  height: 500px;
  overflow: hidden;
  border: 50px solid #f5f5f5b2;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  pointer-events: none;
}

.slide.active {
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}

.slide-btn {
  background: none;
  border: none;
  font-size: 48px;
  color: black;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.slide-btn:hover {
  transform: scale(1.2);
}


#noteSection {
  background-color: white;
  height: 100vh;               
  padding: 60px 20px;          
  text-align: center;
  scroll-snap-align: center;   
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  
  align-items: center;
  overflow: hidden;             
  position: relative;
}

.note-text {
  font-family: 'DelaGothic', sans-serif;
  font-size: 36px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  -webkit-text-stroke: 0.1px white;  
  color: transparent;              
  -webkit-text-fill-color: black;
  margin-bottom: 20px;
  color: #111;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  animation: slideDownText 3s ease forwards;
  animation-delay: 1.2s;
}

.note-text.visible {
  opacity: 1;
  transform: translateY(0);
}

.red-word {
  color: #ff0000 !important;
  -webkit-text-fill-color: #ff0000 !important;
}

@keyframes slideDownText {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(10%);
  }
}
.blue-word {
  color: #007aff !important;
  -webkit-text-fill-color: #007aff !important;
}
.green-word {
  color: #37b01f !important;
  -webkit-text-fill-color: #37b01f !important;
}
#animatedFollowUp {
  margin-top: 40px;
  text-align: center;
  font-size: 28px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.1px white;  
  color: transparent;              
  -webkit-text-fill-color: black;
  font-family: 'DelaGothic', sans-serif;
  color: #111;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

#animatedFollowUp.visible {
  opacity: 1;
  transform: translateY(0);
}

.animated-word {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
.animated-word.show {
  opacity: 1;
  transform: translateY(0);
}

#phoneDemoSection {
  height: 100vh;
  overflow-y: auto;
  background: #f5f5f5;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 0;
}

.phone-wrapper {
  position: relative;
  width: 390px;
  height: 844px;
}

.phone-image {
  width: 100%;
  height: auto;
  display: block;
  z-index: 2;
  pointer-events: none;
}

.screen-inside-image {
  position: absolute;
  top: 73px;  
  left: 44px; 
  width: 296.5px;
  height: 505px;
  border: none;
}

.footer {
  width: 100vw;
  height: 50px;
  background: rgb(0, 0, 0);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5f5f5;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none; 
}
.footer.show {
  opacity: 1;
  pointer-events: auto;
}
